:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */

  --btn-size: 60px;
  --font-size: 25px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.logo,
.btn {
  transition: transform 300ms ease;
  cursor: pointer;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}
/*  CATEGORY */
#category {
  display: flex;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
  margin-right: 18px;
  outline: none;
}

.img-btn {
  width: var(--btn--size);
  height: var(--btn--size);
  font-size: var(--font-size);
  padding: 16px;
  margin: auto;
  margin-right: 20px;
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

/* ITEMS */
.items {
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  list-style: none;
}

.item {
  background-color: var(--color-white);
  margin-bottom: 8px;
  border-radius: 20px;
  display: flex;
  padding: 8px;
  align-items: center;
}

.item__description {
  font-size: var(--font-size);
  margin-left: 20px;
}
